################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/API.NET-Catalogo_Jogos/.vs/API.NET-Catalogo_Jogos/v16
/API.NET-Catalogo_Jogos/API.NET-Catalogo_Jogos/obj
/API.NET-Catalogo_Jogos/API.NET-Catalogo_Jogos/bin/Debug/net5.0
